@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  box-sizing: border-box;
}

img {
  width: 200px;
  height: 200px;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  display: grid;
  grid-template-rows: 100vh 100vh 100vh 100vh 100vh;
  grid-template-areas:
    'page1'
    'page2'
    'page3'
    'page4'
    'page5';
}

.page {
  scroll-snap-align: start;
  height: 100%;
  width: 100vw;
  position: relative;
}

/* Trang mở đầu */
.welcome-page {
  grid-area: page1;
  width: 100%;
}

.welcome-page * {
  position: absolute;
  inset: 0;
  margin: auto;
  font-family: "Great Vibes", cursive;
  text-align: center;
  color: lightcoral;
  letter-spacing: 5px;
  text-shadow: 1px 1px 5px black,
    2px 2px 15px lightcoral,
    0 0 25px lightcoral,
    0 0 35px lightcoral,
    0 0 45px lightcoral,
    0 0 55px lightcoral;
  font-weight: bold;
}

.welcome-page img {
  width: 80%;
  height: 80%;
  border-radius: 25px;
  box-shadow:
    0 0 10px silver,
    0 0 20px silver,
    0 0 30px silver,
    0 0 40px silver,
    0 0 50px silver;
}

.welcome-page p:nth-child(2) {
  justify-self: center;
  top: 12%;
  font-size: 3em;
}

.welcome-page h1:nth-child(3) {
  justify-self: center;
  top: 20%;
  font-size: 5em;
}

.welcome-page p:nth-child(4) {
  justify-self: center;
  top: 80%;
  font-size: 2em;
}

/* Image slider */
.story-page {
  grid-area: page2;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.slider {
  position: absolute;
  inset: 100px 200px 100px 100px;
  background: #000;
  border-radius: 20px;
}

.slider .slides {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 240px;
  height: 320px;
  background: var(--img);
  border-radius: 20px;
  transition: 1.5s ease;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.5);
}

.slider .slides:nth-child(1),
.slider .slides:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  background-size: cover;
}

.slider .slides:nth-child(3) {
  left: calc(55% + 240px);
  box-shadow: 0 0 25px white;
}

.slider .slides:nth-child(4) {
  left: calc(55% + 490px);
  box-shadow: 0 0 25px white;
}

.slider .slides:nth-child(5) {
  left: calc(55% + 740px);
  box-shadow: 0 0 25px white;
}

/* Information */
.infor-page {
  width: 60%;
  align-self: center;
  justify-self: center;
  grid-area: page3;
  display: grid;
  grid-template-rows: 300px 400px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    'groom groom bride bride'
    'left middle middle right'
    'groom-locate countdown countdown bride-locate'
}

.groom-image {
  width: 100%;
  height: 100%;
  grid-area: groom;
  font-weight: bold;
  text-align: center;
}

.groom-image img,
.bride-image img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.groom-image p:nth-child(1),
.bride-image p:nth-child(1) {
  font-size: 1.7em;
}

.groom-image p:nth-child(3),
.bride-image p:nth-child(3) {
  font-size: 2em;
}

.bride-image {
  width: 100%;
  height: 100%;
  grid-area: bride;
  font-weight: bold;
  text-align: center;
}

.locate-image:nth-child(3) {
  grid-area: groom-locate;
}

.infor-page img:nth-child(3) {
  width: 80%;
  grid-area: left;
  height: 100%;
}

.infor-page img:nth-child(4) {
  width: 100%;
  height: 100%;
  grid-area: middle;
}

.infor-page img:nth-child(5) {
  width: 80%;
  height: 100%;
  grid-area: right;
}

.infor-page img:nth-child(3),
.infor-page img:nth-child(4),
.infor-page img:nth-child(5) {
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  justify-self: center;
}

.groom-locate {
  grid-area: groom-locate;
}

.bride-locate {
  grid-area: bride-locate;
}

.groom-locate,
.bride-locate {
  border-radius: 10px;
  padding: 10px;
}

.groom-locate p:nth-child(1),
.bride-locate p:nth-child(1) {
  font-size: 1.5em;
  font-weight: bold;
}

.groom-locate p:nth-child(2),
.bride-locate p:nth-child(2) {
  font-size: 1.7em;
  font-style: italic;
  color: red;
}

#countdown {
  grid-area: countdown;
  display: flex;
  justify-content: center;
}

.countdown-view {
  width: 25%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown-view label {
  font-size: 2.5em;
  color: lightskyblue;
  text-shadow:
    1px 1px 5px black,
    2px 2px 15px lightblue,
    0 0 25px lightblue,
    0 0 35px lightblue,
    0 0 45px lightblue,
    0 0 55px lightblue;
}

.countdown-view span {
  color: silver;
  font-style: italic;
}

#countdown,
.groom-locate,
.bride-locate {
  justify-self: center;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

.message-page {
  grid-area: page4;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.attendance-select {
  display: flex;
  gap: 50px;
  font-size: 1.5em;
}

.attendance,
.not-attendance {
  display: flex;
  line-height: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form h1 {
  font-size: 2.5em;
}

form p {
  font-size: 1.7em;
}

.enjoy-form,
.cant-enjoy {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 350px;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.input-contain {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 50%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.input-contain input,
.cant-enjoy input {
  width: 500px;
  height: 40px;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.3em;
  border: thin solid rgba(0, 0, 0, 0.5);
  outline: none;
  text-align: center;
}

input::placeholder {
  color: lightcoral;
}

textarea {
  width: 500px;
  height: 250px;
  padding: 25px;
  outline: thin solid lightcoral;
  border-radius: 25px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  font-size: 1.3em;
}

textarea::placeholder {
  color: lightcoral;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 15px;
  border: thin solid rgba(0, 0, 0, 0.5);
  background: lightcoral;
  color: white;
}

.cant-enjoy {
  display: none;
}

.gift-page {
  grid-area: page5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.japan-bank,
.vietnam-bank {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border: thin solid black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  gap: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

@media (width <=678px) {
  .welcome-page img {
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
  }

  .welcome-page p:nth-child(2) {
    top: 15%;
    font-size: 1.3em;
  }

  .welcome-page h1:nth-child(3) {
    font-size: 1.6em;
  }

  .welcome-page p:nth-child(4) {
    font-size: 1.2em;
  }

  .slider {
    inset: 20px 20px 200px 20px;
  }

  .slider .slides {
    width: 150px;
    height: 150px;
    top: initial;
    bottom: -250px
  }

  .slider .slides:nth-child(1),
  .slider .slides:nth-child(2) {
    top: initial;
    bottom: 0;
  }

  .slider .slides:nth-child(3) {
    left: 0;
  }

  .slider .slides:nth-child(4) {
    left: 200px;
  }

  .slider .slides:nth-child(5) {
    left: 400px;
  }

  .infor-page {
    grid-template-rows: auto 20% 20% auto auto;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    grid-template-areas:
      'groom bride'
      'middle middle'
      'left right'
      'groom-locate bride-locate'
      'countdown countdown';
    align-content: center;
    justify-content: center;
  }

  .groom-locate,
  .bride-locate {
    padding: 3px;
  }

  .groom-image p:nth-child(1),
  .bride-image p:nth-child(1) {
    font-size: 1.2em;
  }

  .groom-image p:nth-child(3),
  .bride-image p:nth-child(3) {
    font-size: 1.5em;
  }

  .groom-image img,
  .bride-image img {
    width: 100px;
    height: 100px;
  }

  .groom-locate p:nth-child(1),
  .bride-locate p:nth-child(1) {
    font-size: 0.9em;
  }

  .groom-locate i,
  .bride-locate i {
    font-size: 0.7em;
  }

  .groom-locate p:nth-child(2),
  .bride-locate p:nth-child(2) {
    font-size: 1em;
  }

  .countdown-view {
    padding: 5px;
    height: auto;
  }

  .countdown-view label {
    font-size: 1.7em;
  }

  .countdown-view span {
    font-size: 1em;
  }

  form p {
    text-align: center;
  }

  .enjoy-form,
  .cant-enjoy,
  .input-contain {
    width: 100%;
  }

  .input-contain input,
  .cant-enjoy input,
  textarea {
    width: 80%;
  }

  .gift-page {
    flex-direction: column;
  }

  .japan-bank,
  .vietnam-bank {
    width: 80%;
    height: 40%;
    font-size: 1em;
  }

  .japan-bank img,
  .vietnam-bank img {
    width: 30%;
    height: 30%;
  }
}